body {
    background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 90.03%);
    font-family: 'saira extra condensed', sans-serif;
    height: 100vh;
}

.container {
    background: #ecf4ff;
    border-radius: 20px;
    color: #1c1c1c;
    box-shadow: 6px 6px 6px #3e4966;
}

.perfil-foto {
    border-radius: 70px;
    max-height: 160px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

header div img {
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    border-radius: 50%;
    display: flex;
    padding: 4px;
}

.titulo h1 {
    font-weight: 700;
    font-size: 36px;
}
.card{
    background-color: rgba(255, 255, 255, 0.137);
}
.projetos {
    border-radius: 0 40px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.647), -0.4em 0 0.9em rgb(4, 1, 20);
    background-image: linear-gradient(95deg, #cf8e8a 0%, #625297 100%);
}
.projetos-div {
    border-radius: 0 40px;
    box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
}
.btn {
    box-shadow: 5px 5px 20px 5px rgba(3, 1, 12, 0.747) inset;
}
.tema-btn {
    background-color: transparent;
    border: none;
}
.tema-imagem {
    width: 50px;
    transition: .5s;
    cursor: pointer;
}
.dark {
    background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}

.dark .container {
    background: #333439;
    color: #f6f6f6;
    box-shadow: 6px 6px 6px #0e1d3f;
}

.dark .projetos {

    border-radius: 0 40px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.647), -0.4em 0 0.9em rgb(4, 1, 20);
}

.dark .projetos-div {
    background: #343741;
    color: #1c1c1c;
    border-radius: 0 40px;
    box-shadow: 20px 20px 50px 60px rgba(77, 62, 148, 0.76) inset;
}

.dark .tema-imagem {
    transform: rotate(-180deg);
}
.dark .perfil-foto {
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.158);
}
.imgIcon{
    width: 40px;
    margin: 5px;
}
.imgBagdes{
    width: 60px;
    margin: 5px;
}
